header{
  height: 3.5rem;
}

nav{
  background-color: whitesmoke;
  flex: 1;
  padding-left: 0.7rem;
  border-radius: 50px;
  margin: 0 0.6rem;
}

nav>div:nth-of-type(2){
  flex: 1;
}

.hamburger-icon img{
  max-width: 2rem;
}

@media screen and (width >= 760px) {
    .hamburger-icon{
      display: none;
    }

    nav{
      padding-left: 0;
    }
}

.navigator button{
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 5px;
}

.selector select{
  padding: 0.3rem 0.6rem;
  max-width: 100%;
  border: none;
  border-radius: 5px;
}