header{
  height: 3.5rem;
  position: sticky;
  top: 0;
  backdrop-filter: blur(3px);
  z-index: 0;
}

nav{
  background-color: mediumslateblue;
  border: solid 1px #000000;
  flex: 1;
  border-radius: 50px;
  margin: 0 0.6rem;
}

nav>div:nth-of-type(2){
  flex: 1;
}

.hamburger-icon{
  margin: 0.3rem 0 0 1rem;
}

.hamburger-icon:active{
  transform: scaleX(0.8);
  transition: all 100ms ease-out;
}

.hamburger-icon img{
  max-width: 1.2rem;
}

@media screen and (width >= 760px) {
    .hamburger-icon{
      display: none;
    }
}

.navigator button{
  padding: 0.3rem 0.4rem;
  border: none;
  border-radius: 5px;
  background-color: #f29dc0;
  cursor: pointer;
}

.left{
  box-shadow: black 3px 3px;
}

.right{
  box-shadow: black -3px 3px;
}

.left:active{
  transform: translateX(3px) translateY(3px);
  box-shadow: none;
}

.right:active{
  transform: translateX(-3px) translateY(3px);
  box-shadow: none;
}

.navigator>button>div{
  display: none;
}

@media screen and (width >= 520px) {
  .navigator>button>div{
    display: block;
  }
}

.navigator>button>img{
  width: 0.8rem;
}

.selector>select{
  padding: 0.3rem 0.6rem;
  max-width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f29dc0 ;
  box-shadow: black 0px 3px;
}

.selector>select:active{
  box-shadow: none;
  transform: translateY(3px);
}

.placeholder-aside{
  display: none;
}

@media screen and (width >=760px) {
  .placeholder-aside{
    display: block;
    flex: 0.3;
  }
}
