aside{
    display: none;
    background-image: linear-gradient(to right, #418595,60%, #db9fe4);
    flex: 0.3;
    height: 100vh;
    border-right: solid 2px #3f3f3f;
}

@media screen and (width >= 760px){
    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}