aside{
    display: none;
    background-image: linear-gradient(to right, #418595,35%, #cb86d6);
    flex: 0.3;
    height: 100vh;
    border-right: solid 2px rgb(216, 204, 204);
}

@media screen and (width >= 760px){
    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

.hero{
    max-width: fit-content;
    background-color: whitesmoke;
    padding: 0.8rem 1rem;
    border-radius: 50%;
}

.hero img{
    width: 2rem;
}

.hero-text{
    font-size: 22px;
    font-weight: bold;
    color: white;
}